body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}
h1{
font-size: 50px;
}